@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%; /* abu-abu muda */
    --foreground: 0 0% 100%; /* putih untuk mode terang */
    --card: 0 0% 98%; /* abu-abu lebih muda */
    --card-foreground: 240 5% 20%;
    --popover: 0 0% 98%;
    --popover-foreground: 240 5% 20%;
    --primary: 220 5% 50%; /* abu-abu sedang */
    --primary-foreground: 0 0% 98%;
    --secondary: 220 4% 85%;
    --secondary-foreground: 220 5% 30%;
    --muted: 220 4% 85%;
    --muted-foreground: 220 3% 50%;
    --accent: 220 4% 85%;
    --accent-foreground: 220 5% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 5% 80%;
    --input: 220 5% 80%;
    --ring: 220 5% 50%;
  }

  .dark:root {
    --background: 220 7% 18%; /* abu-abu gelap */
    --foreground: 0 0% 0%; /* hitam untuk mode gelap */
    --card: 220 7% 22%;
    --card-foreground: 0 0% 98%;
    --popover: 220 7% 22%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 220 7% 18%;
    --secondary: 220 5% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 5% 30%;
    --muted-foreground: 220 5% 60%;
    --accent: 220 5% 30%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 5% 30%;
    --input: 220 5% 30%;
    --ring: 220 5% 60%;
  }
}
